.completed-task-subject {
    --slds-c-button-text-color: var(--slds-g-color-on-surface-2, #706e6b);
    --slds-c-button-text-color-hover: var(--slds-g-color-on-surface-2, #706e6b);
    --slds-c-button-text-color-focus: var(--slds-g-color-on-surface-2, #706e6b);
}
